body {
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}

.album-artwork {
    width: 100px;
    height: 100px;
    display: inline-block;
}

    .album-artwork img {
        width: 100px;
        height: 100px;
    }

.album-info {
    padding-left: 20px;
    display: inline-block;
}

.album-row {
    margin-top: 5px;
    padding: 10px;
    transition: box-shadow linear .1s;
    /*transition: height ease-in-out .5s;*/
    /*box-shadow: .2px .2px .2px black;*/
}

    .album-row:hover {
        box-shadow: 7px 7px 17px black;
    }

.album-artwork-background {
    top:0;
    left:0;
    z-index:-100;
    position:absolute;
    background-position: center;
    background-color: #808080;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    height: 100%;
    width: inherit;
    /*overflow:hidden;*/
    /*overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;*/
    background-repeat: no-repeat;
    background-size: cover;
}

.album-title {
    font-weight: bold;
    color: #121212;
    font-size:x-large;
    display:block;
}

.album-year {
    display: block;
}

footer {
    display: block;
}

.album-tracks {
    display: block;
    margin-top: 20px;
}

.track {
    font-weight:bold;
    margin-top:10px;
    margin-left: 10px;
    border: solid 1px;
    transition:box-shadow ease-in .1s;
    width: 23% !important;
    height: 30px;
    padding-left: 5px;
    /*padding-top: 3px;*/
}

    .track label {
        vertical-align: top !important;
        margin-top: 4px;
        /*margin-bottom: 0px !important;*/
        /*padding: 3px;*/
        /*display: inline !important;*/
    }

    .track img {
        margin-top: 4px;
    }

    .track:hover {
        box-shadow: 4px 4px 8px black;
    }

.track-title {
    margin-top: 4px;
    width: 65%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: none;
    white-space: nowrap;
}

.track-duration {
    margin-top: 4px;
    font-size:x-small;
}

.track-background {
    top:0;
    left:0;
    z-index:-100;
    position:absolute;
    height: 100%;
    width: 100%;
    overflow:hidden;
    opacity: 0.5;
}

.play-pause-icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity linear .1s;
}

    .play-pause-icon:hover {
        opacity: 1;
    }

.player-container {
    height: 80px;
    background-color: orange;
}

.player-controls {
    height: 100%;
    float: left;
    border: solid 1px gray;
}

.player-seekbar {
    background-color: white;
    opacity: .5;
    height:50%;
}

.player-title {
    height: 50%;
    padding: 4px;
}

    .player-title label {
        font-weight: bold;
        font-size: x-large;
        font-family: Tahoma;
    }

.player-play-pause-icon {
    height: 100%;
    opacity: .5;
    transition: opacity linear .2s;
    cursor: pointer;
}

.player-play-pause-icon:hover {
    opacity: 1;
}

.player-seekbar-slider {
    
}

.player-time {
    float:left;
}

.player-total-time {
    float:right;
}